<!-- BARRA DE NAVEGACAO -->
<nav class="navbar dark navbar-expand-lg navbar-dark bg-dark">
    <!-- ICON -->
    <a class="navbar-brand" routerLink="/home">
      <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- OPTIONS -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/info" routerLinkActive="active">Sobre mim</a>
        </li>
      </ul>
         <!-- LOGIN BUTTON -->
        <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Login</button>
      </div>
</nav>
 
<!-- CORPO DA PAGINA -->
<div class="card" style="text-align:center">
  <div class="jumbotron">
      <h1>{{ title }}</h1>
      <hr class="my-4">
      <!-- REGISTRO CONCLUIDO-->
          <div class="authBlock">
            <div *ngIf="authService.userData as user">
              <p class="text-center">Um email de confirmaçao foi enviado para <strong>{{user.email}}</strong>.</p>
              <p class="text-center">Por favor, verifique sua caixa de email e clique no link de confirmaçao.</p>
            </div>
            <!-- BOTOES -->
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" routerLink="/login" class="btn btn-danger">Login</button>
              <!-- FUNCTION SendVerificationMail() authService -->
              <button type="button" (click)="authService.SendVerificationMail()" class="btn btn-outline-danger">Reenviar email de verificacao</button>
              <button type="button" routerLink="/home" class="btn btn-danger">Voltar</button>
            </div>
            <hr class="my-4">
          </div>
  </div>        
</div>

