<!-- BARRA DE NAVEGACAO -->
<app-barra-navegacao></app-barra-navegacao>
 
<!-- CORPO DA PAGINA -->
<div class="card">
  <div class="jumbotron">
    <div style="text-align:center">
        <h1 class="display-4">{{ title }}</h1>
        <hr class="my-4">
      <!-- FORMULARIO-->
      <form>
        <div class="form-group">
          <input class="form-control" ria-describedby="emailHelp" placeholder="Username" #userName required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Senha" #userPassword required>
        </div>
          <!-- FUNCTION SIGN-IN AuthService -->
          <button type="button" (click)="authService.SignIn(userName.value, userPassword.value)" class="btn btn-outline-danger">Entrar</button>
          &nbsp; 
          <button type="button" routerLink="/esqueceu-senha" class="forgotPassword" class="btn btn-outline-dark">Esqueceu a senha?</button>
          &nbsp; 
          <button type="button" class="redirect" routerLink="/registrar" class="btn btn-outline-danger">Registrar</button>
      </form>
      <hr class="my-4">
      <!-- FUNCTION SIGN-IN GoogleAuth API AuthService -->
      <p>Log-in com Google</p>
      <a class="fa fa-google" (click)="authService.GoogleAuth()" role="button"></a>    
    </div>
  </div>
</div>