<!-- BARRA DE NAVEGACAO -->
<app-barra-navegacao></app-barra-navegacao>

<!-- CORPO DA PAGINA -->
<div class="card">
  <div class="jumbotron">
    <div style="text-align:center">
      <h1 class="display-4">{{ title }}</h1>
      <hr class="my-4">
     <!-- FORMULARIO-->
      <form>
        <div class="form-group">
          <input class="form-control" placeholder="Digite um username" #userName required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Digite uma senha" #userPassword required>
        </div>
        <!-- FUNCTION SIGN-IN AuthService -->
        <button type="button" (click)="authService.SignUp(userName.value, userPassword.value)" class="btn btn-outline-danger">Registrar</button>
      </form>
      <hr class="my-4">
      <!-- FUNCTION SIGN-IN GoogleAuth API AuthService -->
      <p>Registre-se com a Google</p>
      <a class="fa fa-google" (click)="authService.GoogleAuth()" role="button"></a>    
    </div>
  </div>
</div>