<!-- BARRA DE NAVEGACAO -->
<app-barra-nav-auth></app-barra-nav-auth>  
<br>
<body>
<!--CORPO-->
<div class="container">
  <div style="text-align:center">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header" style="text-align:center"><h3>{{title}}</h3></div>
          <div class="container-fluid">
            <div class="no-gutters">
              &nbsp;
              <div class="media" class="text-center" *ngIf="authService.userData as user">
                  <img class="img-fluid rounded-circle mx-auto d-block" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
              </div>
              &nbsp;
              <div>
                <ul class="list-group list-group-flush" *ngFor="let pos of list" (click)="onEdit(pos)">
                    <div class="pt-3 pb-2 mb-3 border-top border-bottom">
                        <h3>INFO</h3>
                        <p class="text-muted">Click para editar.</p>
                      </div>
                    <strong class="list-group-item list-group-item-dark">Nome</strong>
                    <li class="list-group-item"><h5>{{pos.nome}}</h5></li>
                    <strong class="list-group-item list-group-item-dark">Email</strong>
                    <li class="list-group-item"><h5>{{pos.email}}</h5></li>
                    <strong class="list-group-item list-group-item-dark">Telefone</strong>
                    <li class="list-group-item"><h5>{{pos.telefone}}</h5></li>
                  </ul>
              </div>
            </div>
            &nbsp;
              <div *ngIf="SHOW"  class="text-center">
                  <div class="pt-3 pb-2 mb-3 border-top border-bottom">
                      <h2>EDITAR</h2>
                    </div>
                <form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)" (reset)="resetForm(form)">
                  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.userData.id">
              
                  <div class="form-group">
                    <input name="nome" #nome="ngModel" [(ngModel)]="service.userData.nome" class="form-control" placeholder="Nome" required>
                    <div *ngIf="nome.invalid && nome.touched" class="validation-error"> Campo requerido.</div>
                  </div>
              
                  <div class="form-group">
                        <input name="email" #email="ngModel" [(ngModel)]="service.userData.email" class="form-control" placeholder="Email" required>
                        <div *ngIf="email.invalid && email.touched" class="validation-error"> Campo requerido.</div>
                  </div>

                  <div class="form-group">
                      <input name="telefone" #telefone="ngModel" [(ngModel)]="service.userData.telefone" class="form-control" placeholder="Telefone" required>
                      <div *ngIf="telefone.invalid && telefone.touched" class="validation-error"> Campo requerido.</div>
                  </div>
              
                  <div class="form-group ">
                    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-dark rounded-pill">Salvar</button>
                    <button type="reset" class="btn btn-lg btn-block btn-outline-danger rounded-pill ">Cancelar</button>
                  </div>
                </form>
              </div>
            <!--h5 class="card body bg-light p-2">Redes Sociais</h5>
            <a href="https://www.github.com/hpbonfim/" target="blank" class="fa fa-github" role="button"></a>    
            <a href="https://www.instagram.com/hpbonfim/" target="blank" class="fa fa-instagram" role="button"></a>            
            <a href="https://www.facebook.com/hpbonfim" target="blank" class="fa fa-facebook" role="button"></a>
            <a href="https://www.linkedin.com/in/hpbonfim/" target="blank" class="fa fa-linkedin" role="button"></a-->
          </div>
          &nbsp;
      </div>
    </div>
  </div>
</div>
<br>
<body>
<footer><app-protectedfooter></app-protectedfooter></footer>