<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5" style="background-color: #e2e2e2;">
    <!-- GRAY BAR-->
    <div style="background-color: #838383;">
      <div class="container">
        <!-- Grid row-->
        <div class="row py-2 d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <!-- Content -->
          <h6 class="font-weight-bold">HPB DevOps®</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Bem vindo ao Angular-Sketch</p>
        </div>
        <!-- Grid column -->
        <!-- Extensões -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Extensões</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><a class="dark-grey-text" href="https://aws.amazon.com/sdk-for-node-js/" target="_blank">AWS NodeJS</a></p>
          <p><a class="dark-grey-text" href="https://fontawesome.com/icons?d=gallery" target="_blank">Font Awesome</a></p>
          <p><a class="dark-grey-text" href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" target="_blank">Bootstrap</a></p>
          <p><a class="dark-grey-text" href="https://mdbootstrap.com/" target="_blank">Bootstrap Angular</a></p>
        </div>
        <!-- Links -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Links Úteis</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><a class="dark-grey-text" href="https://angular.io/docs" target="_blank">Angular Docs</a></p>
          <p><a class="dark-grey-text" href="https://nodejs.org/en/docs/" target="_blank">Node Docs</a></p>
          <p><a class="dark-grey-text" href="https://firebase.google.com/docs" target="_blank">Firebase Docs</a></p>
          <p><a class="dark-grey-text" href="https://docs.aws.amazon.com/" target="_blank">Amazon Docs</a></p>
        </div>
        <!-- Contato -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold">Contato</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><i class="fas fa-home mr-3"></i>Campo Grande - CG BR</p>
          <p><i class="fas fa-envelope mr-3"></i> hp.bonfim@yandex.com</p>
          <p><i class="fas fa-phone mr-3"></i> +55 67 9 9343-4417</p>
          <ng-container>
            <!-- Facebook -->
            <a href="https://www.facebook.com/hpbonfim" target="_blank" style="color:rgb(22, 22, 22)">
              <i class="fab fa-facebook-f mr-4" style="font-size: 25px;"> </i>
            </a>
            <!-- WhatsApp -->
            <a class="wp-ic" target="_blank" href="https://api.whatsapp.com/send?phone=5567993434417&text=Olá%20Henrique...." style="color:rgb(22, 22, 22)">
              <i class="fab fa-whatsapp mr-4" style="font-size: 25px;"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="https://www.linkedin.com/in/hpbonfim/" target="_blank" style="color:rgb(22, 22, 22)">
              <i class="fab fa-linkedin-in white-text mr-4" style="font-size: 25px;"> </i>
            </a>
            <!-- Email +-->
            <a class="email-ic" target="_blank" href="mailto:hp_bonfim@hotmail.com?Subject=Oi%20Henrique!" style="color:rgb(22, 22, 22)">
              <i class="fa fa-mail-bulk dark mr-4" style="font-size: 25px;"> </i>
            </a>
  
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/hpbonfim/" target="_blank" style="color:rgb(22, 22, 22)">
              <i class="fab fa-instagram white-text" style="font-size: 25px;"> </i>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div style="background-color: #838383;">
        <div class="d-flex align-items-center">
        <div class="container">
          <!-- Grid row-->
            <!-- Grid column -->
                <div style="color:rgb(22, 22, 22)" class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
                    <a class="dark-grey-text" style="color:rgb(22, 22, 22)" href="https://www.linkedin.com/in/hpbonfim/" target="_blank"> Henrique Paulo Bonfim</a>
                  </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </div>
      </div>
  </footer>
  <!-- Footer -->
  