<!-- BARRA DE NAVEGACAO -->
<nav class="navbar dark navbar-expand-lg navbar-dark bg-dark">
    <!-- ICON -->
    <a class="navbar-brand" routerLink="/home">
      <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- OPTIONS -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/info" routerLinkActive="active">Sobre mim</a>
        </li>
      </ul>
         <!-- LOGIN BUTTON -->
        <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Login</button>
      </div>
</nav>
 

<div class="jumbotron">
  <div style="text-align:center">
    <div class="container">
      <div class="card">
        <div class="card-header">{{title}}</div>
          <img class="card-img-top" height="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
          <hr class="my-0">
          <table class="table table-hover">                
            <ul *ngFor="let pos of list" class="list-group bg-light list-group-flush">
              <h5 class="card-header p-1">Nome <li (click)="loadInfoUser(pos)" class="list-group-item p-2" >{{pos.nome}}</li></h5>
              <h5 class="card-header p-1">Email <li (click)="loadInfoUser(pos)" class="list-group-item p-2">{{pos.email}}</li></h5>
              <h5 class="card-header p-1">Telefone <li (click)="loadInfoUser(pos)" class="list-group-item p-2">{{pos.telefone}}</li></h5>
              <!--td><a class="btn text-danger" (click)="onDelete(pos.id)"><i class="fa fa-trash"></i></a></td-->
            </ul>
            <h5 class="card body bg-light p-2">Redes Sociais</h5>
            <a href="https://www.github.com/hpbonfim/" target="blank" class="fa fa-github" role="button"></a>    
            <a href="https://www.instagram.com/hpbonfim/" target="blank" class="fa fa-instagram" role="button"></a>            
            <a href="https://www.facebook.com/hpbonfim" target="blank" class="fa fa-facebook" role="button"></a>
            <a href="https://www.linkedin.com/in/hpbonfim/" target="blank" class="fa fa-linkedin" role="button"></a>
          </table>
      </div>
    </div>
  </div>
</div>
    
      <!--a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-pinterest"></a>
      <a href="#" class="fa fa-google" role="button"></a>
      <a href="#" class="fa fa-youtube" role="button"></a>
      <a href="#" class="fa fa-snapchat-ghost"></a>
      <a href="#" class="fa fa-skype"></a>
      <a href="#" class="fa fa-android"></a>
      <a href="#" class="fa fa-dribbble"></a>
      <a href="#" class="fa fa-vimeo"></a>
      <a href="#" class="fa fa-tumblr"></a>
      <a href="#" class="fa fa-vine"></a>
      <a href="#" class="fa fa-foursquare"></a>
      <a href="#" class="fa fa-stumbleupon"></a>
      <a href="#" class="fa fa-flickr"></a>
      <a href="#" class="fa fa-yahoo"></a>
      <a href="#" class="fa fa-reddit"></a>
      <a href="#" class="fa fa-rss"></a-->